<% provide(:title, 'Категории') %>

<div class="login-page">
  <div class="form">
    <p style="color:black; font-size:14px ">Добавления задачи в проект</p>
      <%= form_for(@todo,  url:'/todocreate') do |f| %>
	<%=f.select :project_id,options_for_select(Project.all.collect{ |u| [u.title,u.id]})  %>
        <%= f.text_field :text,placeholder: 'Названия задачи' %>
<label style='color:black'>
задача выполнен
        <%= f.check_box :isCompleted %>
</label>
        <%= f.submit 'Добавить', class: "button" %>
    <% end %>
  </div>
  
</div>
